.aside .logo a::before{
    border-top: 4px solid #72b626;
    border-left: 4px solid #72b626;
 }
 .aside .logo a::after{
     border-bottom: 4px solid #72b626;
     border-right: 4px solid #72b626;
  }
  .aside .nav li a:hover,
  .aside .nav li a.active,
  body.dark .aside .nav li a:hover,
  body.dark .aside .nav li a.active,
  .about .about-content .about-text h3 span,
  .service .service-item .service-item-inner .icon,
  .portfolio .portfolio-filter button.active,
  body.dark .portfolio .portfolio-filter button.active,
  .portfolio .portfolio-item .portfolio-info .icon .uil,
  .lightbox .lightbox-controls .prev-item .uil,
 .lightbox .lightbox-controls .next-item .uil,
 .blog .blog-item-inner .blog-info .blog-tags a,
 .contact .contact-info-item .icon .uil{
     color:#72b626;
  }
  .btn,
  ::-webkit-scrollbar-thumb,
  .aside .nav-toggler span,
  .aside .nav-toggler span::after,
  .aside .nav-toggler span::before,
  .home .intro .social-links a,
  .section-title h2::before,
  .section-title h2::after,
  .about .about-content .skills .skill-item .progress .progress-in,
  .about .about-content .timeline .timeline-item::before,
  .about .about-content .timeline .circle-dot,
  .blog .blog-item-inner .blog-img .blog-date,
  .service .service-item .service-item-inner:hover .icon
  {
    background-color: #72b626;
 }
 body.dark .home .intro img{
   border:1px solid #72b626;
}
 body.dark .portfolio .portfolio-filter button.active,
 .portfolio .portfolio-filter button.active{
    border-color: #72b626;
 }